<div class="sideCard__container">
    <a href="#" class="sideCard__link">
        <img src="https://lh3.googleusercontent.com/-s41sdHXZgNs/X_aPut2nMHI/AAAAAAADQJc/l5ui60aDM5QPo0QsIkIA_Xf1qwrTRn0mQCLcBGAsYHQ/w1200-h630-p-k-no-nu/Detroit.jpg" class="sideCard__image" alt="imagem da materia 1"/> 
    </a>
    <a href="#" class="sideContent__container">
        <p class="sideCard__date">Janeiro, 2023</p>
        <h2 class="sideCard__title">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h2>
    </a>
</div>
