<header>
    <app-menu></app-menu>
</header>
<main>
    <app-main-title></app-main-title>

    <div class="articles__container">
        <div class="articles__main">
            <app-highlight-card></app-highlight-card>
        </div>
        <div class="articles__regular">
            <app-side-card></app-side-card>
            <app-side-card></app-side-card>
            <app-side-card></app-side-card>
        </div>
    </div>

    <div class="others__container">
        <h3 class="articles__others__title">Outros Artigos</h3>
        <div class="articles__others">     
            <app-others-card></app-others-card>
            <app-others-card></app-others-card>
            <app-others-card></app-others-card>
            <app-others-card></app-others-card>
        </div>
    </div>
</main>