<div class="menu__container">
    <img class="menu__logo" src="../../../assets/img/lapis.png" alt="logo do blog"/>
    <ul class="menu__list">
        <li><a class="menu__link" [routerLink]="['']">Home</a></li>
        <li><a class="menu__link" href="#">Artigos</a></li>
        <li><a class="menu__link" href="#">Contato</a></li>
    </ul>
    <ul class="socialMedia___list">
        <li><a class="socialMedia__link" href="#"><img class="socialMedia__icon" src="../../../assets/img/facebook.png" alt="ícone do facebook"></a></li>
        <li><a class="socialMedia__link" href="#"><img class="socialMedia__icon" src="../../../assets/img/twitter.png" alt="ícone do twitter"></a></li>
        <li><a class="socialMedia__link" href="#"><img class="socialMedia__icon" src="../../../assets/img/instagram.png" alt="ícone do instagram"></a></li>
        <li><a class="socialMedia__link" href="#"><img class="socialMedia__icon" src="../../../assets/img/youtube.png" alt="ícone do youtube"></a></li>
    </ul>
</div>